.calculator {
  text-align: center;
}

.indicator {
  border: black solid 1px;
  margin: 1px 1px 1px 1px;
}

h3 {
  text-align: center;
}

.calculator {
  margin: auto;
  border: black solid 1px;
  flex-wrap: wrap;
  width: 10rem;
}

.calculator > .buttons {
  margin: auto;
  align-items: center;
}
